body {
     margin: 0;
     font-family: 'Poppins', sans-serif;
}

.header {
     margin-top: 25px;
}

.wrapper {
     /* background-color: green; */
     height: 100px;
     margin-left: 5%;
     margin-right: 5%;
}

.wid-25 {
     width: 25%;
}

.wid-50 {
     width: 50%;
}

.search-product input {
     width: 70%;
     height: 18px;
     border-radius: 0;
     padding: 10px;
     font-size: 18px;
     color: #666;
     border: 1px solid #ddd;
     border-right: none;
}

.search-product button {
     height: 40px;
     border-radius: 0;
     margin-left: -4px;
     font-size: 18px;
     border: 1px solid #ddd;
     color: #D19C97;
     background-color: #fff;
}

.search-product {
     margin-top: 15px;
}


.common-btn {
     height: 37px;
     border: 1px solid #ddd;
     border-radius: 0;
     background-color: #fff;
     min-width: 50px;
     text-align: center;
     color: #D19C97;
}

.common-btn span {
     font-size: 16px;
     font-weight: 800px;
}

.Selected-Products {
     text-align: right;
     margin-top: 15px;
}